.description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    // max-height: 6.4em; 
    line-height: 1.6em; 
  }
  
  .card-header{
    color: black;
    font-weight: bold;
    font-size: 1.5em;
  }

  .card{
    min-height: 15rem;

  }