$main-bg: blue;

// App colors
$app-primary: #437099;
$app-primary-light: rgba(56, 128, 255, 0.55);
$app-secondary: #3dc2ff;
$app-success: #00d68f;
$app-warning: #ffc409;
$app-danger: #f95372;
$app-white: #ffffff;
$app-gray: #f4f5f8;
$app-black: #000000;
$app-bg: #1f4868;
$app-bg-gradient: linear-gradient(90deg, #1f4868 0%, #1f4868 100%);
$app-content-card: linear-gradient(180deg, #232428 0%, #313848 100%);

// App sizes
$app-size-xxs: 0.5rem;
$app-size-xs: 0.75rem;
